---
import "../styles/global.css";
import Main from "../components/Main.svelte";
import { getAllPuzzles } from "../db";

const allPuzzles = await getAllPuzzles();
const solsByDate = new Map(allPuzzles.keys().map((date) => [date, allPuzzles.get(date)!.solutions]));
const sidesByDate = new Map(allPuzzles.keys().map((date) => [date, allPuzzles.get(date)!.sides]));
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Letter unBoxed</title>
  </head>
  <body class="font-franklin">
    <Main client:load {solsByDate} {sidesByDate} />
  </body>
</html>
