---
import "../styles/global.css";
import Main from "../components/Main.svelte";
import { getSolutionsByDate, getSidesByDate } from "../repo";

const startTime = Date.now();
const [solsByDate, sidesByDate] = await Promise.all([getSolutionsByDate(), getSidesByDate()]);
console.log(`Data fetched in ${Date.now() - startTime}ms`);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Letter unBoxed</title>
  </head>
  <body class="font-franklin">
    <Main client:load {solsByDate} {sidesByDate} />
  </body>
</html>
