---
import "../styles/global.css";
import Main from "../components/Main.svelte";
import { getAllSolutions, getAllSides } from "../repo";

const [allSols, allSides] = await Promise.all([getAllSolutions(), getAllSides()]);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Letter unBoxed</title>
  </head>
  <body class="font-franklin">
    <Main client:load {allSols} {allSides} />
  </body>
</html>
