---
import "../styles/global.css";
import GithubIcon from "../components/GithubIcon.astro";
import { getAllSolutions } from "../repo";

const sols = await getAllSolutions();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Letter unBoxed</title>
  </head>
  <body class="font-franklin bg-white flex flex-col h-[100vh]">
    <header class="px-8 py-6">
      <div class="flex justify-between items-baseline mb-2">
        <h1 class="font-karnak text-2xl">Letter unBoxed</h1>
        <a href="https://github.com/haziq21/letter-unboxed"><GithubIcon /></a>
      </div>
      <p class="text-sm">
        A computed archive of every accepted 2-word solution for the New York Times'
        <a href="https://www.nytimes.com/puzzles/letter-boxed" class="underline">Letter Boxed</a>.
      </p>
    </header>

    <div class="bg-rose-300 h-90"></div>

    <main class="flex-1 overflow-y-scroll">
      {
        sols.entries().map(([date, sols]) => (
          <div class="px-8 pt-6">
            <span class="font-bold">
              {new Date(date).toLocaleDateString("en-US", { year: "numeric", month: "long", day: "numeric" })}
            </span>
            <ul>
              {sols.map((words) => (
                <li>{words.join(" – ")}</li>
              ))}
            </ul>
          </div>
        ))
      }
    </main>
  </body>
</html>
