@import "tailwindcss";

@font-face {
  font-family: nyt-karnak;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/karnakcondensed-normal-700.woff2") format("woff2");
}

@font-face {
  font-family: nyt-franklin;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/franklin-normal-300.woff2") format("woff2");
}

@font-face {
  font-family: nyt-franklin;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/franklin-normal-400.woff2") format("woff2");
}

@font-face {
  font-family: nyt-franklin;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/franklin-normal-500.woff2") format("woff2");
}

@font-face {
  font-family: nyt-franklin;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/franklin-normal-600.woff2") format("woff2");
}

@font-face {
  font-family: nyt-franklin;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/franklin-normal-700.woff2") format("woff2");
}

@theme {
  --font-karnak: nyt-karnak, sans-serif;
  --font-franklin: nyt-franklin, sans-serif;
}
